body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://www.dropbox.com/scl/fi/31rdoiqp14mwmjlwkyasd/?rlkey=rw20o7da42qkkxjp16prd2knu&st=5b85f9m3&raw=1'); /* Lien Dropbox avec le paramètre `raw=1` */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    text-align: center;
}

h1 {
    margin-top: 10%;
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

h1 span {
    display: block;
    margin: 10px 0;
    font-size: 1.5em;
}

.main-container h1, .main-container h2, .main-container p {
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.433); /* Fond semi-transparent */
    backdrop-filter: blur(1px); /* Ajout du flou */
    -webkit-backdrop-filter: blur(1px); /* Compatibilité Safari */
    border-radius: 10px;
    overflow: hidden; /* Pour éviter les débordements */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border: 3px solid rgba(0, 0, 0, 0.1);
}

th {
    background-color: rgba(0, 0, 0, 0.1);
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

.main-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-right, .top-left, .center {
    position: absolute;
}

.top-right {
    top: 10px;
    right: 10px;
    text-align: right;
}

.top-left {
    top: 10px;
    left: 10px;
    text-align: left;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
}

/* Spécifiques par langue */
.arabe {
    font-family: "Amiri", serif;
    font-size: 1.5em;
}

.anglais {
    font-family: "Arial", sans-serif;
    font-size: 1.5em;
}

.chinois {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 1.5em;
}

.portugais {
    font-family: "Verdana", sans-serif;
    font-size: 1.5em;
}

.francais {
    font-family: "Georgia", serif;
    font-size: 2em;
}

/* Bouton de navigation */
.btn-presentation {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn-presentation:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
